.jumbo-container{
    width:100%;
    margin:0 auto;
    border:2px rgb(21, 21, 75) solid;
    text-align: center;
    padding:100px 0px;
    background-image:url("newphoto.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container-all{
    width:100%;
    margin:0 auto;
}